// bgcolor設定
$bg-base: #e8e1e4;
$bg-footer: #D9AD9A;
$bg-header-sp: #29000A;

// font color
$fc-base: #29000A;
$fc-footer: #e8e1e4;
$fc-header-sp: #e8e1e4;

// link color
$fc-link: #29000A;
$fc-link-hover: #D9AD9A;

// line color
$line-color: #D9AD9A;
$line-color-thumb: #29000A;


// font-size設定
$fs-x-large: 2.4rem;
$fs-large: 1.8rem;
$fs-base: 1.3rem; //標準
$fs-small: 1.2rem; 
$fs-x-small: 1.0rem;

// device size
$device-sp-min: 320px;
$device-sp: 750px;
$device-pc: 751px;


// z-index
$z-page: 10;
$z-menu: 11;
$z-sp-menu: 12;
$z-sp-menu-link: 13;
$z-sp-menu-btn: 14;
$z-sp-menu-btn-active: 15;
$z-modal-detail-overlay: 95;

// //tab
// @media screen and (min-width: 600px) {
  
// }

// //PC
// @media screen and (min-width: 1025px) {
  
// }